.w-md-editor .title {
  line-height: unset;
  font-size: unset;
  font-weight: unset;
}

.w-md-editor ul {
  line-height: 1;
}

.text-editor .w-md-editor-bar svg {
  display: none;
}

.text-editor .w-md-editor-bar {
  cursor: row-resize;
  height: 11px;
  width: 100%;
  background-color: #37414b;
  background-position: 50%;
  position: relative;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
}
